* {
  margin: 0;
  padding: 0;
}

/* Icon Bar Vertically CSS */

.icon-bar-vertical {
  width: 90px;
  background: #555;
}
.icon-bar-vertical a {
  display: block;
  text-align: center;
  font-size: 36px;
  color: #fff;
  padding: 16px;
  transition: 0.5s;
}
.icon-bar-vertical a:hover {
  background: #000;
}
.icon-bar-vertical a.active {
  background: #04AA6D;
}

/* Icon Bar Horizontality CSS */
.icon-bar-horizontal {
  width: 100%;
  background: #555;
  overflow: auto;
}
.icon-bar-horizontal a {
  float: left;
  width: 20%;
  padding: 12px 0;
  font-size: 36px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
.icon-bar-horizontal a:hover {
  background: #000;
}
.icon-bar-horizontal a.active {
  background: #04AA6D;
}