@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #111;
  z-index: 1000;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style-type: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}
header ul li a:hover,
header ul li a.active {
  background: #205aff;
}
.toggle {
  display: none;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: relative;
}
section img {
  max-width: 250px;
  margin-left: 50px;
}
section h2 {
  text-transform: uppercase;
  font-size: 2.5em;
}
section p {
  font-size: 18px;
}
section a {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  background: #111;
  color: #fff;
  margin-top: 20px;
}
section:nth-child(odd) {
  position: relative;
  background: #111;
  color: #fff;
}
section:nth-child(odd) a {
  color: #111;
  background: #fff;
}
@media(max-width:992px){
  header ul {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 100px;
    background: #111;
    text-align: center;
    overflow: auto;
    flex-direction: column;
    transition: 0.5s;
    transform: translateY(-100%);
    opacity: 0;
  }
  header.active ul {
    transform: translateY(0);
    top: 80px;
    opacity: 1;
  }
  header ul li {
    margin: 5px 0;
    font-size: 24px;
  }
  section {
    padding: 100px 50px 50px;
    flex-direction: column;
  }
  section img {
    max-width: 100%;
    margin: 50px 0 0;
  }
  
  .toggle {
    display:  block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggle:before {
    content: '';
    position: absolute;
    top:4px;
    background-color: #fff;
    height: 2px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  .toggle:after {
    content: '';
    position: absolute;
    bottom:4px;
    background-color: #fff;
    height: 2px;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
  }
  header.active .toggle:before {
    box-shadow: 0 0 0 #fff;
    transform: rotate(45deg);
    top: 14px;
  }
  header.active .toggle:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
}