* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
  width: 100%;
  height: 100vh;
}
section .dots span {
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
  animation: sazzad 1.5s linear infinite ;
  animation-delay: calc(var(--i) * 0.1s);
  opacity: 0;
}
@keyframes sazzad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}